*{
  font-family: "Roboto", sans-serif;
}
header{
/*  background: url('https://kimminhphat.com/images/thiet-ke-xay-dung-small.jpg') top center no-repeat; */
}
img{
  max-width: 100%;
  max-height: 100%;
}
.my-line{
  width: 100%;
  height: 3px;
  margin: 2rem 0;
  background: rgb(240,224,106);
  background: linear-gradient(90deg, rgba(240,224,106,0.3211485277704832) 15%, rgba(242,242,18,1) 55%, rgba(208,232,25,0.11386561460521705) 100%);
}
.main-menu{
  background: rgb(253,255,229);
  background: radial-gradient(circle, rgba(253,255,229,1) 0%, rgba(233,243,255,1) 100%);
}
.main-menu .hotline{
  width: 100%;
  background: url(../../images/bghotline.png)no-repeat top center;
  line-height: 45px;
  text-align: center;
  padding-left: 80px;
  color: #f00;
  text-decoration: none;
}
.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
.my-menu{
  background: #fffdce;
}
.nav-item:hover{
  background: #fffa89;
}
.nav-item .nav-link{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
}
.nav-item .nav-link:not(.dropdown-toggle){
  transform: translateY(-1px);
}
.nav-item .nav-link:not(.dropdown-toggle),
.nav-item .nav-link:not(.dropdown-toggle):after,
.nav-item .nav-link:not(.dropdown-toggle):before {
  transition: all .5s;
}
.nav-item .nav-link:not(.dropdown-toggle){
  position: relative;
}
.nav-item .nav-link:not(.dropdown-toggle):after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #9f9908;
  height: 1px;
}

.nav-item .nav-link:not(.dropdown-toggle):hover:after {
  width: 100%;
}


.carousel{
  margin-bottom: 4rem;
}

.marketing .brick{
  height: 140px;
  line-height: 140px;
}
.home-video{
  position: relative;
  height: 100%;
  min-height: 400px;
  background: linear-gradient(rgba(254, 218, 154, 0.1), rgba(254, 218, 154, 0.1)), url(../img/fact.jpg);
    background-position-x: 0%, 0%;
    background-position-y: 0%, 0%;
    background-repeat: repeat, repeat;
    background-size: auto, auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
}

.text-service h2 {
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
}
.pagination{
  justify-content: center;
}
.page-content img{
  max-width: 100%;
  height: auto;
}
.post-content{
  .thumbnail{
    max-height: 250px;
  }
  p, li{
    font-size: 18px;
  }
}

// lightbox

@keyframes zoomin {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.gallery-item {
  display: block;
}

.gallery-item img {
  max-height: 250px;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.2s;
}

.gallery-item:hover img {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.35);
}

.lightbox-modal .modal-content {
  background-color: var(--lightbox);
}

.lightbox-modal .btn-close {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  font-size: 1.25rem;
  z-index: 10;
  filter: invert(1) grayscale(100);
}

.lightbox-modal .modal-body {
  display: flex;
  align-items: center;
  padding: 0;
}

.lightbox-modal .lightbox-content {
  width: 100%;
}

.lightbox-modal .carousel-indicators {
  margin-bottom: 0;
}

.lightbox-modal .carousel-indicators [data-bs-target] {
  background-color: var(--carousel-text) !important;
}

.lightbox-modal .carousel-inner {
  width: 75%;
}

.lightbox-modal .carousel-inner img {
  animation: zoomin 10s linear infinite;
}

.lightbox-modal .carousel-item .carousel-caption {
  right: 0;
  bottom: 0;
  left: 0;
  padding-bottom: 2rem;
  background-color: var(--lightbox);
  color: var(--carousel-text) !important;
}

.lightbox-modal .carousel-control-prev,
.lightbox-modal .carousel-control-next {
  width: auto;
}

.lightbox-modal .carousel-control-prev {
  left: 1.25rem;
}

.lightbox-modal .carousel-control-next {
  right: 1.25rem;
}

@media (min-width: 1400px) {
  .lightbox-modal .carousel-inner {
    max-width: 60%;
  }
}

[data-bs-theme = "dark"] .lightbox-modal .carousel-control-next-icon,
[data-bs-theme = "dark"] .lightbox-modal .carousel-control-prev-icon {
    filter: none;
}

.btn-fullscreen-enlarge,
.btn-fullscreen-exit {
  position: absolute;
  top: 1.25rem;
  right: 3.5rem;
  z-index: 10;
  border: 0;
  background: transparent;
  opacity: .6;
  font-size: 1.25rem;
}

.bi {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.035em;
  fill: currentcolor;
}
// end lightbox

//testimonial
.testimonial-carousel{
  background-color: rgb(234, 243, 255);
}
#testiminialCarousel{
  h2 {
    color: #000;
    font-size: 26px;
    font-weight: 300;
    position: relative;
    margin: 0 0 50px 0;
    text-transform: uppercase;
    display: inline-block;
  }
  h2::after {
    content: "";
    width: 50%;
    position: absolute;
    height: 4px;
    border-radius: 1px;
    background: #fff200;
    left: 0;
    bottom: -20px;
  }
  .carousel {
    margin: 50px auto;
  }
  .carousel-item {
    color: #999;
    overflow: hidden;
    min-height: 120px;
  }
  .carousel-item .media {
    position: relative;
    padding: 0 0 0 20px;
    margin-left: 20px;
  }
  .carousel-item .media img {
    width: 75px;
    height: 75px;
    display: block;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border: 2px solid #fff;
  }
  .carousel-item .testimonial {
    color: #fff;
    position: relative;    
    background: #7faff9;
    padding: 15px;
    margin: 0 0 20px 20px;
  }
  .carousel-item .testimonial::before, .carousel-item .testimonial::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -20px;
  }
  .carousel-item .testimonial::before {
      width: 20px;
      height: 20px;
    background: #7faff9;
    box-shadow: inset 12px 0 13px rgba(0,0,0,0.5);
  }
  .carousel-item .testimonial::after {
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-bottom-color: #fff;
      border-left-color: #fff;
  }
  .carousel-item .carousel-item .row > div:first-child .testimonial {
    margin: 0 20px 20px 0;
  }
  .carousel-item .carousel-item .row > div:first-child .media {
    margin-left: 0;
  }
  .carousel-item .testimonial p {
    text-indent: 40px;
      line-height: 21px;
    margin: 0;
  }
  .carousel-item .testimonial p::before {
    content: "\201D";
    color: #fff;
    font-weight: bold;
    font-size: 68px;
    line-height: 70px;
    position: absolute;
    left: -25px;
    top: 0;
  }
  .carousel-item .overview {
    padding: 3px 0 0 15px;
  }
  .carousel-item .overview .details {
    padding: 5px 0 8px;
  }
  .carousel-item .overview b {
    text-transform: uppercase;
    color: #f4bb04;
  }
  .carousel-control-prev, .carousel-control-next {
    width: 30px;
    height: 30px;
    text-shadow: none;
    top: 4px;
    svg{
      fill: blue;
    }
  }
  .carousel-control-prev i, .carousel-control-next i {
    font-size: 16px;
  }
  .carousel-control-prev {
    left: auto;
    right: 40px;
  }
  .carousel-control-next {
    left: auto;
  }
  .carousel-indicators {
    bottom: -80px;
  }
  .carousel-indicators button, .carousel-indicators button.active {
    width: 17px;
    height: 17px;
    border-radius: 0;
    margin: 1px 5px;
    box-sizing: border-box;
  }
  .carousel-indicators button { 
    background: #e2e2e2;
    border: 4px solid #fff;
  }
  .carousel-indicators button.active {
    color: #fff;
    background: #fff200;
    border: 5px double;    
  }
  .star-rating li {
    padding: 0 2px;
  }
  .star-rating i {
    font-size: 14px;
    color: #ffdc12;
  }
}
.pagination svg{
  max-width: 20px;
}
section.footer{
  background: radial-gradient(circle,#fdffe5,#e9f3ff);
}
@media (min-width: 576px){

}
@media (min-width: 768px){
  .nav-item .nav-link{
    padding: 1rem 2rem;
  }
  .marketing .brick{
    height: 250px;
    line-height: 250px;
  }
}
@media (min-width: 992px){

}
@media (min-width: 1200px){

}
@media (min-width: 1400px){

}